{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Редактирование задания #{{ object.id }}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.customer.label_tag }}
                        {{ form.customer }}
                        {{ form.customer.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.date.label_tag }}
                        {{ form.date }}
                        {{ form.date.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.machine_number.label_tag }}
                        {{ form.machine_number }}
                        {{ form.machine_number.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.operator.label_tag }}
                        {{ form.operator }}
                        {{ form.operator.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.order.label_tag }}
                        {{ form.order }}
                        {{ form.order.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.part.label_tag }}
                        {{ form.part }}
                        {{ form.part.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                        {{ form.quantity.errors }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                        {{ form.status.errors }}
                    </div>
                    <div class="col-12 mb-3">
                        {{ form.comment.label_tag }}
                        {{ form.comment }}
                        {{ form.comment.errors }}
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'shift_assignment:detail' object.pk %}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Отмена
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}