{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Загрузка плана из Excel</h1>

    <a href="{% url 'production_plan:download_template' %}" class="btn btn-primary mb-3">
        <i class="bi bi-download me-2"></i>Скачать шаблон производственных планов
    </a>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
</div>
{% endblock %}
